<h1>Résultat</h1>

<div class="card-border">
  <!-- Map widht and height -->
  C - {{mapDatas.width}} - {{mapDatas.height}}
  <!-- Mountains informations -->
  <div *ngFor="let mountain of mapDatas.mountainArray.moutain">
    M - {{mountain.xPosition}} - {{mountain.yPosition}}
  </div>
  <!-- Treasures informations -->
  <div *ngFor="let eachTreasure of mapDatas.treasureArray.treasure">
    <!-- Only show when there is at least one treasure -->
    <div *ngIf="eachTreasure.numberLeft > 0">
      T - {{eachTreasure.xPosition}} - {{eachTreasure.yPosition}} - {{eachTreasure.numberLeft}}
    </div>
  </div>
  <!-- Players informations -->
  <div *ngFor="let player of allDatas.playerArray">
    A - {{player.name}} - {{player.xPosition}} - {{player.yPosition}} - {{player.geoOrientation}} - {{player.nbOfTreasures}}
  </div>
</div>