<!-- <form #inputForm="ngForm">
    <div class="form-group">
        <textarea type="text" class="form-control" id="inputString" required [(ngModel)]="inputStr" name="inputString"></textarea>
    </div>
    <button type="submit " class="btn btn-success " (click)="sendDatas() ">Envoyer</button>
</form> -->